:root {
  --primary-color: #0d7fff;
  --primary-color-alpha: #0d7fff88;
  --primary-color-darken: #003f86;
  --secondary-color: #00ffff;
  --gray-1: #d0d0d0;
  --gray-2: #e5e5e5;
  --background-color: #f8f8ff;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  background-color: var(--background-color);
}

mark {
  background-color: var(--primary-color-alpha);
}

a {
  color: inherit;
  text-decoration: none;
}
